<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

  </head>
  <body class="d-flex align-items-center justify-content-center">
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <div>

      <a href="/" style="font-size: 30px;">Create New</a>
      <table class="table table-striped" style="width: fit-content;">
        <thead>
          <tr>

            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">city</th>
            <th scope="col">action</th>
          </tr>
        </thead>

        <tbody>
          {{#each docs}}

            <tr>
              <td>{{this.fullname}} </td>
              <td>{{this.email}} </td>
              <td>{{this.phone}} </td>
              <td>{{this.city}} </td>

              <td>
                <a href="/{{this._id}}">UPDATE</a>
                <p style="display: inline-block"> | </p>
                <a href="/delete/{{this._id}}">DELETE</a>

              </td>

            </tr>

          {{/each}}

        </tbody>
      </table>

    </div>

  </body>
</html>